OMDB_API_KEY=your_omdb_api_key_here
TMDB_API_KEY=your_tmdb_api_key_here

OMDB_API_URL=http://www.omdbapi.com/
TMDB_API_URL=https://api.themoviedb.org/3/
TVMAZE_API_URL=http://api.tvmaze.com

DEBUG=False
VERBOSE=False
API_TIMEOUT=30
MAX_RETRIES=3

LOG_LEVEL=INFO
LOG_FILE=app.log
LOG_MAX_SIZE_MB=10
